@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

#search {
  width: 100%;
  border: 2px solid #096dd9;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 12px;
}

#search:focus {
  outline: none;
}

.card {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.rekomendasi-kategori {
  border-radius: 20px;
  background-color: #e6e9ec;
}

.text-rekomendasi-kategori {
  font-size: 10px;
  font-weight: 600;
  margin-top: 4px;
}

footer {
  background: #096dd9;
  color: #fff;
  padding: 50px 0;
}

.hr-footer {
  height: 2px;
  width: 100%;
  background: #fff;
}

.payment-success {
  margin: 100px 0;
  padding: 50px;
  border-radius: 20px;
  background: #f1f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
